.orangeLabel {
    border: 2px solid orange;
    background-color: orange;
}

.orangeTitle {
    border-bottom: 2px solid orange;
}

.greenLabel {
    border: 2px solid green;
    background-color: green;
}

.greenTitle {
    border-bottom: 2px solid green;
}

.yellowLabel {
    border: 2px solid yellow;
    background-color: yellow;
}

.yellowTitle {
    border-bottom: 2px solid yellow;
}

.purpleLabel {
    border: 2px solid purple;
    background-color: purple;
}

.purpleTitle {
    border-bottom: 2px solid purple;
}

.blueLabel {
    border: 2px solid blue;
    background-color: blue;
}

.blueTitle {
    border-bottom: 2px solid blue;
}

.redLabel {
    border: 2px solid red;
    background-color: red;
}

.redTitle {
    border-bottom: 2px solid red;
}

.blackLabel {
    border: 2px solid black;
    background-color: black;
}

.blackTitle {
    border-bottom: 2px solid black;
}

.skyLabel {
    border: 2px solid deepskyblue;
    background-color: deepskyblue;
}

.skyTitle {
    border-bottom: 2px solid deepskyblue;
}

.pinkLabel {
    border: 2px solid pink;
    background-color: pink;
}

.pinkTitle {
    border-bottom: 2px solid pink;
}

.limeLabel {
    border: 2px solid mediumseagreen;
    background-color: mediumseagreen;
}

.limeTitle {
    border-bottom: 2px solid mediumseagreen;
}

.cardTitle {
    font-weight: bold;
    font-size: 20px;
}